body {
  background-color: #EAF6F6;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 10%;
}
h1{
  color: #66BFBF;
  font-style: italic;
  margin: 2px;
}
h3{
  color: #66BFBF;
}
.pp {
  height: 150px;
  width: 150px;

}
.name{
  border:0;
	background:none;
	display: block;
	/*margin: 20px auto;*/
	text-align:center ;
	border-width:2px;
  border-color: #66BFBF;
  border-style: solid;
	padding-left:5px;
	width: 100px;
	outline: none;
	color :black;
	border-radius:24px;
	transition: 0.25s;
}
.name:focus{
  width: 150px;
  border-color: #02BDBD;
}
.mail{
  border:0;
	background:none;
	display: block;
	/*margin: 20px auto;*/
	text-align:center ;
	border-width:2px;
  border-color: #66BFBF;
  border-style: solid;
	padding-left:5px;
	width: 100px;
	outline: none;
	color :black;
	border-radius:24px;
	transition: 0.25s;
}
.mail:focus{
  width: 150px;
  border-color: #02BDBD;
}
.mesaj{
  border:0;
	background:none;
	display: block;
	/*margin: 20px auto;*/
	text-align: left;
	border-width:2px;
  border-color: #66BFBF;
  border-style: solid;
	padding-left:5px;
	width: 200px;
	outline: none;
	color :black;
	border-radius:24px;
	transition: 0.25s;
}
.mesaj:focus{
  border-color: #02BDBD;
}
.buton{
  border:0;
  background-color: #66BFBF;
  display: block;
  text-align:center ;
  border-width:3px;
  border-style: solid;
  border-color: #02BDBD;
  height: 30px;
  width:65px;
  outline: none;
  color :black;
  border-radius:24px;
  transition: 0.25s;
}
.buton:hover{
  width: 80px;
  height: 45px;
  background-color:#02BDBD;
}
